* {
    background-color: lavender;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.all {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.buttons {
    display: flex;
    gap: 100px;
}

img {
    background-color: burlywood;
}

.results {
    font-weight: 700;
}

.game-winner {
    font-size: 34px;
    font-weight: 900;
}

button {
    width: 200px;
    height: 200px;
    font-size: 34px;
    border-radius: 30px;
    border-width: 5px;
    border-style: dashed;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.25s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}